@model IEnumerable<BookStoreLibrary.Books.Books>
@{
    ViewBag.Title = "BookView";
}

<h2>BookView</h2>
<table>
    <thead>
        <tr>
            @*<th>Category_ID</th>*@
            <th> Category  Name</th>

        </tr>
    </thead>
    @foreach (BookStoreLibrary.Books.Books l in Model)
    {
        <tr>
            @*<td>@l.Category_ID</td>*@
            @*<td>@Html.ActionLink(l.Title, "Index", new { id = l.CategoryID })</td>*@

            <td>
                @*@Html.ActionLink("Edit", "Update", new { id = l.CategoryID })*@
                @Html.ActionLink("BookView", "BookView", new { id = l.CategoryID })
            </td>

        </tr>
        @*<ul>

                    <li>
                        @Html.ActionLink(genre.Name,"Browse", new { genre = genre.Name })
                </li>
                }
            </ul>*@

    }

</table>
