@{
    ViewBag.Title = "Comic";
}

<center><h2>Comic</h2></center>
<table align="center">
    <tr>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Comics/actioncomics.jpg">
                    <img src="~/Content/Comics/actioncomics.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Action Comics</div>
                <div class="desc" id="menu6">Walter</div>
                <div id="menu7"> Rs:600</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Comics/Archie.jpg">
                    <img src="~/Content/Comics/Archie.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Archie</div>
                <div class="desc" id="menu6">Wangerin J R</div>
                <div id="menu7"> Rs:700</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Comics/batman.jpg">
                    <img src="~/Content/Comics/batman.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Batman</div>
                <div class="desc" id="menu6">Johnny</div>
                <div id="menu7"> Rs:800</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Comics/catwoman.jpg">
                    <img src="~/Content/Comics/catwoman.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Catwoman</div>
                <div class="desc" id="menu6">Sydney</div>
                <div id="menu7"> Rs:800</div>
            </div>

        </td>
    </tr>

    <tr>
        <td>

            <div id="img">
                <a target="_blank" href="~/Content/Comics/popeye.jpg">

                    <img src="~/Content/Comics/popeye.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Popeye</div>
                <div class="desc" id="menu6">Mike</div>
                <div id="menu7"> Rs:300</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Comics/spiderman.jpg">
                    <img src="~/Content/Comics/spiderman.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Spiderman</div>
                <div class="desc" id="menu6">Rosy</div>
                <div id="menu7"> Rs:400</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Comics/superman.jpg">
                    <img src="~/Content/Comics/superman.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Superman</div>
                <div class="desc" id="menu6">Mark</div>
                <div id="menu7"> Rs:100</div>
            </div>

        </td>
        <td>


            <div id="img">
                <a target="_blank" href="~/Content/Comics/xmen.jpg">
                    <img src="~/Content/Comics/xmen.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Xmen</div>
                <div class="desc" id="menu6">John</div>
                <div id="menu7"> Rs:400</div>
            </div>
        </td>
    </tr>
</table>

