@{
    ViewBag.Title = "Contact";
    //Layout = "~/Views/Shared/Layout2.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Deepthi</span>
        <span>9741452051</span>
    </p>
    <p>
        <span class="label">Prashanth</span>
        <span>9741452052</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Team Members:</span>
        <span><a href="mailto:deepthi.bangera@sonata-software.com">Deepthi Bangera</a></span>
        <span><a href="prashanth.a@sonata-software.com">Prashanth Abel</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Sonata Software Limited<br />
        Bangalore.
    </p>
</section>