@{
    ViewBag.Title = "Cooking";
}

<center><h2>Cooking</h2></center>
<table align="center">
    <tr>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Cooking/Cookie.jpg">
                    <img src="~/Content/Cooking/Cookie.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Cookie</div>
                <div class="desc" id="menu6">Walter Wangerin J R</div>
                <div id="menu7"> Rs:600</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Cooking/Cooking_For_all.jpg">
                    <img src="~/Content/Cooking/Cooking_For_all.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Cooking for all</div>
                <div class="desc" id="menu6">George</div>
                <div id="menu7"> Rs:600</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Cooking/Cook_Book.jpg">
                    <img src="~/Content/Cooking/Cook_Book.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Cook Book</div>
                <div class="desc" id="menu6">Mark Bitman</div>
                <div id="menu7"> Rs:500</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Cooking/Easy_Cooking.jpg">
                    <img src="~/Content/Cooking/Easy_Cooking.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Easy Cooking</div>
                <div class="desc" id="menu6">Mark Jackson</div>
                <div id="menu7"> Rs:500</div>
            </div>

        </td>
    </tr>

    <tr>
        <td>

            <div id="img">
                <a target="_blank" href="~/Content/Cooking/Fun_To_cook.jpg">

                    <img src="~/Content/Cooking/Fun_To_cook.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Fun to cook</div>
                <div class="desc" id="menu6">Julie sims</div>
                <div id="menu7"> Rs:400</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Cooking/Men_cook_too.jpg">
                    <img src="~/Content/Cooking/Men_cook_too.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Men cook too</div>
                <div class="desc" id="menu6">Jewie bang</div>
                <div id="menu7"> Rs:300</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Cooking/Mexican_cook_book.jpg">
                    <img src="~/Content/Cooking/Mexican_cook_book.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Mexican cook book</div>
                <div class="desc" id="menu6">Jenitor Fizel</div>
                <div id="menu7"> Rs:300</div>
            </div>

        </td>
        <td>


            <div id="img">
                <a target="_blank" href="~/Content/Cooking/My_Receipes.jpg">
                    <img src="~/Content/Cooking/My_Receipes.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">My Receipes</div>
                <div class="desc" id="menu6">Roel Rodrigues</div>
                <div id="menu7"> Rs:600</div>
            </div>
        </td>
    </tr>
</table>

