@model BookStoreLibrary.Books.Books
@{
    ViewBag.Title = "Novel";
}

<center><h2>Novel</h2></center>
<table align="center">
    <tr>
        <td>
            <div id="img">
                <a target="_blank" href="@Url.Action("GetBookByCategory", "Book")">
                    <img src="~/Content/Image1/12KeyPillars.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">12 Key Pillars</div>
                <div class="desc" id="menu6">C S Lakin</div>
                <div id="menu7"> Rs:500</div>

            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Image1/GameOfThrones.jpg">
                    <img src="~/Content/Image1/GameOfThrones.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Game of Thrones</div>
                <div class="desc" id="menu6">George R R</div>
                <div id="menu7"> Rs:600</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Image1/TouchTheStars.jpg">
                    <img src="~/Content/Image1/TouchTheStars.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Touch the Stars</div>
                <div class="desc" id="menu6">Jessica Ruston</div>
                <div id="menu7"> Rs:500</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Image1/MeBeforeYou.jpg">
                    <img src="~/Content/Image1/MeBeforeYou.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Me Before You</div>
                <div class="desc" id="menu6">C S Lakin</div>
                <div id="menu7"> Rs:500</div>
            </div>

        </td>
    </tr>

    <tr>
        <td>

            <div id="img">
                <a target="_blank" href="~/Content/Image1/PoisonedApples.jpg">

                    <img src="~/Content/Image1/PoisonedApples.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Poisoned Apples</div>
                <div class="desc" id="menu6">Christine</div>
                <div id="menu7"> Rs:500</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Image1/RedQueen.jpg">
                    <img src="~/Content/Image1/RedQueen.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Red Queen</div>
                <div class="desc" id="menu6">Victoria Aveyard</div>
                <div id="menu7"> Rs:800</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Image1/TheBookOfGod.jpg">
                    <img src="~/Content/Image1/TheBookOfGod.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">The Book of God</div>
                <div class="desc" id="menu6">Walter Wangerin J R</div>
                <div id="menu7"> Rs:900</div>
            </div>

        </td>
        <td>


            <div id="img">
                <a target="_blank" href="~/Content/Image1/TheAlchemist.jpg">
                    <img src="~/Content/Image1/TheAlchemist.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">The Alchemist</div>
                <div class="desc" id="menu6">Paulo Coelho</div>
                <div id="menu7"> Rs:700</div>
            </div>
        </td>
    </tr>
</table>
