@{
    ViewBag.Title = "Philosophy";
}

<center><h2>Philosophy</h2></center>
<table align="center">
    <tr>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Philosophy/Being_Human.jpg">
                    <img src="~/Content/Philosophy/Being_Human.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Being Human</div>
                <div class="desc" id="menu6">Walter Wangerin J R</div>
                <div id="menu7"> Rs:500</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Philosophy/Lacan&Philosophy.jpg">
                    <img src="~/Content/Philosophy/Lacan&Philosophy.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Lacan & Philosophy</div>
                <div class="desc" id="menu6">Lorenzo Cheisa</div>
                <div id="menu7"> Rs:400</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Philosophy/Philosophy.jpg">
                    <img src="~/Content/Philosophy/Philosophy.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Philosophy</div>
                <div class="desc" id="menu6">Graham Oppy R</div>
                <div id="menu7"> Rs:400</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Philosophy/Philosophy_Essay.jpg">
                    <img src="~/Content/Philosophy/Philosophy_Essay.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Philosophy Essay</div>
                <div class="desc" id="menu6">Clairre Benn</div>
                <div id="menu7"> Rs:500</div>
            </div>

        </td>
    </tr>

    <tr>
        <td>

            <div id="img">
                <a target="_blank" href="~/Content/Philosophy/Political_Philosophy.jpg">

                    <img src="~/Content/Philosophy/Political_Philosophy.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Political Philosophy</div>
                <div class="desc" id="menu6">Ronald Beiner</div>
                <div id="menu7"> Rs:600</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Philosophy/Pursuit.jpg">
                    <img src="~/Content/Philosophy/Pursuit.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Pursuit</div>
                <div class="desc" id="menu6">Shimon Edelmon</div>
                <div id="menu7"> Rs:700</div>
            </div>
        </td>
        <td>
            <div id="img">
                <a target="_blank" href="~/Content/Philosophy/Rhapsody_Of_Philosophy.jpg">
                    <img src="~/Content/Philosophy/Rhapsody_Of_Philosophy.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Rhapsody Of Philosophy</div>
                <div class="desc" id="menu6">Max</div>
                <div id="menu7"> Rs:800</div>
            </div>

        </td>
        <td>


            <div id="img">
                <a target="_blank" href="~/Content/Philosophy/Western_Philosophy.jpg">
                    <img src="~/Content/Philosophy/Western_Philosophy.jpg" id="menu4" />&nbsp;&nbsp;&nbsp;
                </a>
                <div class="desc" id="menu5">Western Philosophy</div>
                <div class="desc" id="menu6">Bertrand Russell</div>
                <div id="menu7"> Rs:900</div>
            </div>
        </td>
    </tr>
</table>


